
.icon-up-circled2:before { content: '\e800'; } /* '' */
.icon-down-circled2:before { content: '\e801'; } /* '' */
.icon-twitter-1:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-right-circled2:before { content: '\f18e'; } /* '' */
.icon-left-circled2:before { content: '\f190'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */