body{
    background-color: lightpink;
}
.color-box
{
    width: 200px;
    height: 30px;
    margin-bottom: 10px;
}
#kolory-predefiniowane{
    background-color: red;
   
}
#kolory-heksadecymalne{
    background-color:#ff3399;
        
}
#kolory-heksadecymalne-skrocony{
    background-color:#267;  
}
#kolory-rgb{
    background-color: rgba(22, 22, 230, 0.71);
}
#kolory-rgba{
    background-color: rgba(30,22,91,0.5);
}
