body{
    background-color: hotpink;
}
#green{
    position: relative;
    background-color: green;
    width: 300px;
    height: 200px;
    top: 30px;
    left: 30px;
}
#lime{
    width: 200px;
    height: 200px;
    background-color: lime;
}
#red{position: absolute;
    width: 250px;
    height: 30px;
    background-color: red;
    left: 20px;
    top: 20px;
}
#blue{
    width: 250px;
    height: 50px;
    background-color: blue;
}
#zafiksowany{
    width: 200px;
    height: 200px;
    background-color: darkorchid;
    position: fixed;
    top: 30px;
    right: 30px;
}