html{
    background-color:#d0c8c4 ;
    font-family: 'Lato', sans-serif;
    width: 100%;
   
}

#obraz1{
    background-image: url(img/header-background.jpg);
   
   background-size: 100%;
    width: auto;
    height: 400px;
    margin: 0px;
    padding: 20px;
}
#glowny{
    
    text-align: center;
    font-size: 80px;
    color: white;
    position: relative;
    top: 50px;
    
}

#fed{
    text-align: center;
    font-size: 40px;
    color: white;
     position: relative;
    top: 30px;
}
#nawigacja a{
   
    text-decoration: none;
    font-size: 20px;
    color: green;
    display: inline-block;
    
}
#nawigacja{
    
    position:fixed;
  top: 0;
  width: 100%;
    background-color: white;
    color: green;
    z-index: 100;
    
    
    
}
ul{
    margin-top: 30px;
    margin-left: 1000px;
}
nav li{
    display: inline-block;
    
}
section{
    background-color: #cae4eb;
    
    background-size: 100%;
    width: auto;
    height: 400px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
#zdjecie{
    background-image: url(img/jan-nowak.jpg);
    width: 200px;
    height: 200px;
    background-size: cover;
    position: relative;
    left:200px;
    top: 80px;
}
#omnie{
    display: inline-block;
    width: 500px;
    height: 500px;
    position: relative;
    left: 700px;
    top: -160px;
    
}
#lorem{
    text-align: justify;
    
}
#omnie #p1 {
    font-size: 30px;
    color: green;
    
}
#p1::first-letter
{
    color: black;
}
#container{
    width: 100%;
    height: auto;
    margin-top: 5px;
    background-color: white;
}
.bialy{
    color: white;
}
.zielony{
    color: green;
}
.czarny{
    color: black;
}
#umiejetnosci1{
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
}
#umiejetnosci2{
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
}
#umiejetnosci2 p{
    font-size: 15px;
}

#zhtml5{
    background-image: url(icons/html5.png);
    width: 75px;
    height: 75px;
  
    
    
    
}
#zccs3{
    background-image: url(icons/css3.png);
    width: 75px;
    height: 75px;
  
}
#zjs{
   background-image: url(icons/js.png);
    width: 75px;
    height: 75px; 
    
}
#zjq{
    background-image: url(icons/jquery.png);
    width: 75px;
    height: 75px;
  
    
}
figure{
    display: inline-block;
   
}
.bok{
   
    text-align: center;
}
#textportfolio{
     text-align: center;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.zdjecie1{
    background-image: url(img/portfolio1.jpg);
    width: 400px;
    height: 400px;
           background-size: cover;   
    text-align: center;
    display: inline-block;
    

}
.zdjecie2{
    background-image: url(img/portfolio2.jpg);
    width: 400px;
    height: 400px;
      background-size: cover;
     text-align: center;
    display: inline-block;

}
.zdjecie3{
    background-image: url(img/portfolio4.jpg);
    width: 800px;
    height: 400px;
      background-size: cover;
     text-align: center;
   clear: both;
    text-align: center;
    position: relative;
    left: 350px;
    
    
    
    
}
.trzyzdjecia{
    
    text-align: center;
    padding-bottom: 20px;
}
.zdjecie1:hover{
    
    opacity: 0.5;
    
}
.zdjecie2:hover{
    
    opacity: 0.5;
    
}
.zdjecie3:hover{
    
    opacity: 0.5;
    
    
}
footer{
     height:400px;
    width: 100%;
    
   
    background-color: #213b50 ;
    
}






.bialy1{
    font-size: 30px;
    color: white;
   
   
    
}
.zielony2{
   font-size: 30px; 
    color: green;
    
}
#glowny3{
    padding-top: 60px;
    margin-left: 60px;
}

.adresy{
    color: white;
    margin-left: 60px;
    padding-top: 60px;
}
.adresy a{
    text-decoration-color: green;
    color: green;
}
.googlefonty{
    margin-top: 30px;
    margin-left: 50px;
}
 form{
    position: relative;
     bottom: 300px;
     left: 900px;
}
input{
    background-color:#031421 ;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
}
textarea{
     background-color:#031421 ;
    color: white;
     border: none;
     outline: none
    
}
#przycisk{
    background-color: green;
    color: white;
    width:80px;
    height: 40px;
    position: relative;
    left:280px;
    font-size: 20px;
}
#ostatni{
    margin-top: 20px;
     background-color:#031421 ;
    width: 100%;
    height: 50px;
}

