html {
    background-color: #291f1a ;
    font-family: 'Lato', sans-serif;
    width: 100%;
}

body {
    padding: 0;
    margin: 0;
}

header {
    font-family: 'Roboto', sans-serif;
}

#obraz1 {
    background-image: url(img/header-background.jpg);
    background-size: 100%;
    width: auto;
    height: 400px;
    margin: 0px;
    padding: 20px;
}

#glowny {
    text-align: center;
    font-size: 80px;
    color: white;
    position: relative;
    top: 50px;
}

#fed {
    text-align: center;
    font-size: 40px;
    color: white;
    position: relative;
    top: 30px;
}

nav a {
    text-decoration: none;
    font-size: 20px;
    color: green;
    display: inline-block;
    text-align: right;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    color: green;
    z-index: 100;
    text-align: center;
    width: 100%;
    display: block;
}

ul {
    margin-top: 30px;
    position: relative;
    text-align: right;
    right: 20px;
}

nav li {
    display: inline-block;
    
}

li a {
    padding: 10px;
    color: green;
    font-size: 24px;
    text-decoration: none;
}

section {
    background-color: #cae4eb;
    background-size: 100%;
    width: auto;
    height: 400px;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#zdjecie {
    text-align: left;
    
}

#omnie {
    display: inline-block;
    width: 500px;
    height: 500px;
    position: relative;
    left: 700px;
    top: -160px;
}

#lorem {
    text-align: justify;
}

#omnie #p1 {
    font-size: 30px;
    color: green;
}

#p1::first-letter {
    color: black;
}

#container {
    width: 100%;
    height: auto;
    margin-top: 5px;
    background-color: white;
}

.bialy {
    color: white;
}

.zielony {
    color: green;
}

.czarny {
    color: black;
}

#umiejetnosci1 {
    text-align: center;
    font-size: 30px;
    padding-top: 30px;
}

#umiejetnosci2 {
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
}

#umiejetnosci2 p {
    font-size: 15px;
}

#zhtml5 {
    background-image: url(icons/html5.png);
    width: 75px;
    height: 75px;
}

#zccs3 {
    background-image: url(icons/css3.png);
    width: 75px;
    height: 75px;
}

#zjs {
    background-image: url(icons/js.png);
    width: 75px;
    height: 75px;
}

#zjq {
    background-image: url(icons/jquery.png);
    width: 75px;
    height: 75px;
}

figure {
    display: inline-block;
}

.bok {
    text-align: center;
}

#textportfolio {
    text-align: center;
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 20px;
}

.zdjecie1 {
    background-image: url(img/portfolio1.jpg);
}


/*uwaga*/

.zdjecie1 span.text {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    color: white;
    text-align: center;
    margin-top: 80px;
}

.zdjecie1 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: darkblue;
}

.zdjecie1:hover span.text {
    opacity: 1;
}

.zdjecie1:hover .overlay {
    opacity: 0.3;
}


/*uwaga*/

.zdjecie2 {
    background-image: url(img/portfolio2.jpg);
    
}

.zdjecie2 span.text {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    color: white;
    text-align: center;
    margin-top: 80px;
}

.zdjecie2 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-color: darkblue;
}

.zdjecie2:hover span.text {
    opacity: 1;
}

.zdjecie2:hover .overlay {
    opacity: 0.3;
}

.zdjecie3 {
    background-image: url(img/portfolio3.jpg);
}

.zdjecie3 span.text {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    color: white;
    text-align: center;
    margin-top: 80px;
    padding: 70px;
}

.zdjecie3 .overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    opacity: 0;
    width: 800px;
    height: 100%;
    background-color: darkblue;
}

.zdjecie3:hover span.text {
    opacity: 1;
}

.zdjecie3:hover .overlay {
    opacity: 0.3;
}
.zdjecie3 .overlay{
    
    
    
    position: absolute;
    margin: 0px auto;
    background-color: black;
    opacity:0;
   
    display: block;
    width: 100%;
}

.trzyzdjecia {
    text-align: center;
    padding-bottom: 20px;
}

.trzyzdjecia>div{
    width:33%;
    background-size: cover;
    text-align: center;
    display: inline-block;
    position: relative;
    height:350px;
}
footer {
    height: 400px;
    width: 100%;
    background-color: #213b50;
}

.bialy1 {
    font-size: 30px;
    color: white;
}

.zielony2 {
    font-size: 30px;
    color: green;
}

#glowny3 {
    padding-top: 60px;
    margin-left: 60px;
}

.adresy {
    color: white;
    margin-left: 60px;
    padding-top: 60px;
}

.adresy a {
    text-decoration-color: green;
    color: green;
}

.googlefonty {
    margin-top: 30px;
    margin-left: 50px;
}

form {
    width: 200px;
    margin: 0px;
}

input {
    background-color: #031421;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
}

textarea {
    background-color: #031421;
    color: white;
    border: none;
    outline: none
}

#przycisk {
    background-color: green;
    color: white;
    width: 80px;
    height: 40px;
    position: relative;
    left: 280px;
    font-size: 20px;
}

#ostatni {
    margin-top: 20px;
    background-color: #031421;
    width: 100%;
    height: 50px;
}

.bok span {
    position: relative;
    top: 90px;
}

nav a:hover {
    color: aquamarine;
}

#przycisk:hover {
    background-color: greenyellow;
}

.googlefonty i {
    border: 1px solid white;
    padding: 15px 3px 5px 3px;
    margin 5px;
    text-align: center;
    color: aqua
}

.googlefonty i:hover {
    background-color: #c0d6ff;
}





#formularz {
    width: 49%;
    display: inline-block;
}
/*/////////////////////////////////////////*/
#duzykontener{
    width: 100%;
}
#adresiznaczki{
    width: 49%;
    display: inline-block;
}

